#projectContainer {
    width: 660px;
    height: 500px;
    border-style: outset;
    border-color: royalblue;
    
}

/* #canvas {
    
} */

.columnBox {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    
    
}

.rowBox {
    display: flex;
    flex-direction: row;
    border-style: double;
    border-color: red;
    
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tools {
    display: flex;
    margin-bottom: 2.5rem;
}