body {
    background-color: #546e7a; 
}

.title {
    color: #ffffff;
}

#projectContainer {
    background-color: #ffffff;
    display: flex;
    width: 900px;
    height: 600px;
    border-style: solid;
    border-width: 6.5px;
    border-color: #121212;
    border-radius: 1.5%;
    
}

#canvas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    flex-direction: column;
    flex: 1 1;
}

.columnBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    flex: 1 1;
    width: 100%;
}

.rowBox {
    flex: 1;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #121212;
    border-width: 0.1px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tools {
    display: flex;
    margin-bottom: 2.5rem;
}

.gridSlider {
    width: 100%;
    
}

.slider {
    background: #d3d3d3;
    outline: none;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.defaultRowColor {
    background: white;
}

.mouseAction {
    background: red;
}